*, *::before, *::after {
    box-sizing: border-box;
    font-family: Minecraft Rus, sans-serif;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 0;
    background-image: url(original.gif);
    display: grid;
    justify-content: center;
    align-content: center;
    -content: center;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
  }