body {
  background-image: url(https://i.imgur.com/4ISJx6U.gif);
}

#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    border: 2px #35333d;
  }